sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: Z+gTcVYmuMfgerYU+VSo378va6JBBCSfGL+E/bgHr1ljFvo7BSsqj/37bRWmaiftv5JSduAUoPsT6+5S37wGGx9fjfmdF+eH5HjKel42ke4jvIuMZxaW9ugMYVEq27aRF6eUbPfb7rLSi30g2ONTCY7OAi5IoH86u4wIvCvHktZms75QfvcnjP7FbTtfpDXLRGF3hB77+du2oxCZr64EwnKZnpep1OkAu9Isz2XpwnMTzdrobIWGeMGY1W88KBI7q9jmEbBPr1rZaANtvtgD7xWUI8/2n227UONozUAPlgjA8RSppijZ6lK3NFgTRcUBG9pv4EEg9FbVpR2M4WI2HHbX9dNITeNyd0h3Bzk02X6Wgatd8032E749r6U83U2yLJmE+N+OclTemqez++6AIxM4ehD2aLXV93VN0+iizUW84ll1D0WMHdm16ktZ3UdIBQGXOl69v2P13KVUtXqPXG+r6W3JusY1YXLrH+agiLsKhU84CpuU2gDJCeinXgn6WQwoL2DRlavUSNAGKout+hUMTibhftmGmHNYh2IQoyaomOefqVGDHgT3735s8btLmT7QgBpMbVYF/QAylfp6Mng3QYAQznA9r4PXE2rSXudzdAZyBNUUJbafvrNM9PQKYaATt8oOj93j439JyrrSUFBsFt3YbvdUO7QXfbCH8og=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Beautiful-Europe--Belgium_4242
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy